* {
  margin: 0;
  padding: 0;
  background-color:white;
}

.register-h1 {
  background-color: cadetblue;
}
header {
  text-align: center;
  margin-top: 30px;
}

div[class="nav-container"] {
  background-color:cadetblue;
  padding-top: 60px;

  margin-top: 0px;
  margin-bottom: 50px;

}

ul {
  background-color:cadetblue;
  text-align: center;
  font-weight: 600;
  padding-bottom: 0;

}
a{
  background-color: cadetblue;
}
ul li {

  display: inline;
  background-color: cadetblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  margin-top: 20px;
  padding-right: 0.9em;
  padding-left: 0.9em;
  border-right: 1px solid black;
  align-items: center;
}
ul li.last {
  border: none;
}

main {
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 1.8;
}
input {
  background-color: whitesmoke;
}
form {
  text-align: center;
  width: 350px;
  height: 375px;
  background-color: cadetblue;
  position: relative;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin: 30px;
  margin-top: 95px;
  border: solid black;
  border-radius: 2%;
}

form[id="offer-form"] {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  padding: 40px;
}
label {
  background-color: cadetblue;
}
#upload-form {
  width: 450px;
  padding: 20px;
  min-height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  border: solid black;
}

#regressionEquations {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 15px;
}

#regressionChart {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 256px;
}

#graph-container {
  display: flex;
  flex-direction: column;
}

.upload-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
  margin: 5px;
}
#chart-instructions{
  margin-bottom: 20px;
}
#follow-up {
  display: flex;
  width: 350px;
  margin-top: 90px;
  font-size: large;
}

input[type="submit"],
button,
button[id="delete-button"],
button[id="offer-amount-submit"] {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

input[type="file"] {
  background-color: cadetblue;
}
p[class="response-offer"] {
  background-color: cadetblue;
}
input[type="file"]::file-selector-button {
  background-color: cadetblue;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

button[id="delete-button"] {
  display: flex;
  max-width: 100px;
  font-size: small;
  width: 300px;
}

div[id="graph-container"] {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

canvas {
  display: flex;
  width: 785px;
  height: 615px;
}

b,
h6 {
  color: black;
}

button[id="offer-amount-submit"] {
  margin-top: 10px;
}

#summary {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
